<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases> 
	
		<typeAlias type="com.wjx.ehr.system.entity.UserInfo"
			alias="TomApiUser" />
	
	</typeAliases>

	<mappers>
	
	<mapper
			resource="com/wjx/ehr/system/mapper/UserInfoMapper.xml" />
	
	</mappers>

</configuration>