<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases> 
		<typeAlias type="com.wjx.ehr.system.entity.UserInfo" alias="TomApiUser" />
		<typeAlias type="com.wjx.ehr.attendance.entity.Attendance" alias="Attendance" />
	</typeAliases>

	<mappers>
		<mapper resource="com/wjx/ehr/system/mapper/UserInfoMapper.xml" />
		<mapper resource="com/wjx/ehr/attendance/mapper/AttendanceMapper.xml" />
	</mappers>
</configuration>